.header {
  background-color: whitesmoke;
}

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header-nav__list-item {
  list-style: none;
}
